@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Amatic+SC:wght@700&family=Anek+Gujarati:wght@700&family=Baloo+Da+2:wght@559&family=Barlow&family=Barlow+Condensed&family=Bebas+Neue&family=Berkshire+Swash&family=Bree+Serif&family=Cormorant:wght@700&family=Dancing+Script&family=Francois+One&family=Montserrat:wght@600&family=Mulish:wght@500&family=Nanum+Myeongjo:wght@700&family=Nunito:wght@600&family=Orelega+One&family=Oswald&family=PT+Sans+Caption&family=PT+Serif&family=Padauk:wght@700&family=Passion+One:wght@700&family=Pontano+Sans&family=Poppins:wght@400;500;700&family=Pragati+Narrow&family=Prata&family=Roboto+Condensed&family=Roboto:wght@100;300;700&family=Rubik+Microbe&family=Rubik+Moonrocks&family=Saira:wght@600&family=Send+Flowers&family=Signika+Negative:wght@300;400&family=Space+Grotesk:wght@500&family=Space+Mono&family=Work+Sans:wght@600&display=swap');

*{
    padding:0;
    box-sizing:border-box;
    margin: 0;
}

html,body{
    width:100%;
    height:100%;
}

/* #cursor {
height: 20px;
width: 20px;
border: 2px solid black;
border-radius: 50%;
box-sizing: border-box;
position: absolute;
transition: 0.1s;
} */


#header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
}

#changing-greeting-text {
    display: inline-block;
    overflow: hidden;
    height: 2.8vh;
    width: 7vw;
    /* background-color: red; */
    font-size: large;
}

#greet-text {
    text-align: right;
    display: inline-block;
    transform: translateY(0vh);
    width: 7vw;
    animation: slideanimation 5s infinite alternate;
    animation-delay: 1s;
    /* background-color: rebeccapurple; */
    font-size: large;
}

#greeting {
    /* height: 5vw; */
    margin-top: 0.2vw;
    /* background-color: rebeccapurple; */
    overflow: hidden;
    /* background-color: yellow; */
}

    @keyframes slideanimation {
        0% {
            transform: translateY(0);
        }

        5% {
            transform: translateY(0);
        }

        25% {
            transform: translateY(-1.3vw);
        }

        50% {
            transform: translateY(-2.6vw);
        }

        75% {
            transform: translateY(-3.9vw);
        }

        100% {
            transform: translateY(-5.2vw);
        }
    }

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    font-size: larger;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.5s ease;
    font-size: 2vw;
}

#navbar li #a1 {
    color: rgb(94, 163, 236);
}

#navbar li #a2 {
    color: rgb(246, 68, 68);
}

#navbar li #a3 {
    color: rgb(255, 180, 0);
}

#navbar li a:hover,
#navbar li a.active{
    color: black;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: green;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


.cursor{
    height: 30px;
    width: 30px;
    border: 2px dashed black;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    top: 0vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    /* animation: animate .5s linear infinite; */
    animation: cursorAnim .5s infinite alternate;
    pointer-events : none;
    display: initial;
 }

 #cursor1 {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: white;
    border-radius: 50%;
    color: black;
    z-index: 999;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    pointer-events: none;
    position: absolute;
 }

 
  

  @keyframes cursorAnim {
        
    from{
        transform: scale(1);
    }
    to{
        transform: scale(.7);
    }
} 

#main>h1:hover ~ .cursor{
    height: 100px;
    width: 100px;
    border: 2px dashed #000;
    pointer-events: none;
    animation: animate 5s linear infinite;
 } 

 @keyframes animate {
     0% {
         transform: translate(-50%, -50%) rotate(0deg);
     }
     100% {
         transform: translate(-50%, -50%) rotate(360deg);
     }
 }





#main{
    width:100vw;
    background-color: rgb(238, 233, 227);
    border-top: 1px solid transparent;
    overflow-x: hidden;
    font-family: 'Cormorant', serif;
}

#main::-webkit-scrollbar{
    display: none;
}

#main .smile {
    background-color: red;
}
#page1{
    width:100vw;
    /* height:100vh; */
    background-color: rgb(238, 233, 227);
}
.sidenavs{
   width:4vw;
   height:100vh;
   position: fixed;
   right:0;
   top:0;
   background-color: rgb(255, 180, 0);
   z-index: 9999999999;
}

.sidenavs:nth-child(2){
    right:4%;
    background-color: rgb(246, 68, 68);
}

.sidenavs:nth-child(3){
    right:8%;
    background-color: rgb(94, 163, 236);
}

#page1 h1{
    text-align: justify;
    font-size: 4vw;
    margin-right: 33vw;
    margin-top: 10vw;
    margin-left: 2vw;
    letter-spacing:0.1vw;
 font-family: 'Cormorant', serif;
}

h1 span{
    color:rgb(255, 180, 0);
    padding-bottom: 4px;
    background-image: repeating-linear-gradient(-45deg,#ffb400,#ffb400 1px,transparent 0,transparent 12px),repeating-linear-gradient(45deg,#ffb400,#ffb400 1px,transparent 0,transparent 12.2px);
    background-position: 0 103%,2px 103%;
    background-size: 17px 10px;
    background-repeat: repeat-x;
    /* animation: .8s infinite normal b;
    animation-timing-function: linear; */
}

#page2{
    width:100vw;
    padding-top: 2vw;
    display: flex;
    position: relative;
    margin-top: 5vw;
}



.images{
    width:28vw;
    height:90vh;
     position: absolute;
     overflow: hidden;
    
}

#image1{
    margin-left: 25vw;
    margin-top: 2vw;
    border-radius: 5vw;
    transform: rotate(-15deg);
}


#image2{
    margin-left: 35vw;
    margin-top: 5vw;
    border-radius: 5vw;
    transform: rotate(-5deg);
}

#image3{
    margin-left: 45vw;
    margin-top: 8vw;
    border-radius: 5vw;
    transform: rotate(5deg);
}

#page2 .images img{
    filter: grayscale(100%);
    transition: .5s ease-in-out;
}

#page2 .images img:hover {
    filter: grayscale(0%);
}

#page3{
    width:100vw;
    margin-top: 50vw;
    padding-top: 10vw;
    margin-bottom: 15vw;
}

#page3 h3{
    font-size: 2.5vw;
    margin-left: 4vw;
}

h3 span{
    color:rgb(255, 180, 0);
    padding-bottom: 4px;
    background-image: repeating-linear-gradient(-45deg,#ffb400,#ffb400 1px,transparent 0,transparent 12px),repeating-linear-gradient(45deg,#ffb400,#ffb400 1px,transparent 0,transparent 12.2px);
    background-position: 0 103%,2px 103%;
    background-size: 17px 10px;
    background-repeat: repeat-x; 
}

#page3 h2{
    margin-left: 5vw;
    font-size: 3vw;
    font-weight: 600;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#page3 h2:nth-child(2){
    margin-top: 3vw;
}

#page3 h2:hover{
    color:rgb(246, 68, 68);
    margin-left: 7vw;
    font-size: 3.2vw;
}

#page4{
    width:80vw;
    height:20vh;
    background-image: linear-gradient(90deg,#000 50%,transparent 0),linear-gradient(90deg,#000 50%,transparent 0),linear-gradient(90deg,#000 50%,transparent 0),linear-gradient(90deg,#000 50%,transparent 0);
    background-position: 0 0,0 100%,left 14px,0 calc(100% - 14px);
    background-repeat: repeat-x,repeat-x,repeat-x,repeat-x;
    background-size: 24px 1px,24px 1px,24px 1px,24px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4vw;
}

#page4 h1{
    text-align: center;
    font-size: 5vw;
}

#page5{
    width:100vw;
}

#page5 #elem-div a{
    font-size: 4vw;
    color: #000;
    text-decoration: none;
}

#elem-div{
    padding-left:4vw;
    padding-top: 5vw;
}

#page5 #elem-div a:hover h4{
    text-decoration: underline;
   
}

#elem-div a{
    line-height: 3vw;
    margin-left: 4vw;
}



#image {
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    z-index: 9;
    /* left: 0;
    top: 0; */
    background-position: center;
    transform: rotate(2deg);
    background-size: cover;
    transition: height 0.5s, width 0.5s, background-image 0.5s, transform cubic-bezier(0.19, 1, 0.22, 1);
}

#page6{
    width:80vw;
    height:100vh;
    background-image: linear-gradient(90deg,#000 50%,transparent 0),linear-gradient(90deg,#000 50%,transparent 0),linear-gradient(90deg,#000 50%,transparent 0),linear-gradient(90deg,#000 50%,transparent 0);
    background-position: 0 0,0 100%,left 14px,0 calc(100% - 14px);
    background-repeat: repeat-x,repeat-x,repeat-x,repeat-x;
    background-size: 24px 1px,24px 1px,24px 1px,24px 1px;
    margin-left: 4vw;
    font-size: 2em;
}

#page6 a {
        text-decoration: none;
        font-size: 16px;
        text-transform: none;
        padding: 26px 0;
        border: 1px dashed black;
        border-radius: 100px;
        width: 100%;
        display: block;
        text-align: center;
        font-family: gilroy-semi-bold;
        margin-bottom: 23px;
        color: black;
}



#page6 h1{
    font-size: 12vw;
    margin-left: 15vw;
    margin-top: 6vw;
}

#page6 i{
    font-size: 6vw;
    font-weight: 100;
}

.opening{
    position:absolute;
    top:50%;
    left:50%;
    height:0vh;
    transform: translate(-50%,-50%);
    width:100%;
    background-color: black;
    color: white;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    border-radius: 100px;
}

#msg {
    position: relative;
    overflow: hidden;
}

#msg a h2 {
    z-index: 999;
    color: black;
}


#msg:hover .opening{
    
     height:100%;
     color: rgb(238, 233, 227);
     transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
     z-index: -1;
}

#msg:hover a h2 {
    color: rgb(238, 233, 227);;
}


#page7{
    width:100vw;
    height:100vh;
    
}

#photodiv{
    height:100vh;
   min-width:100vw;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: auto;
}

.photos{
    display: inline-block;
   position: absolute;
    width:80vw;
    height:100vh;
    background-color: aqua;
    z-index: 999999999999999999999999999999999999999;
}

.photos img{
    width:80vw;
    object-fit: cover;
    object-position: center;
    height:100vh;
}

#photo2{
 left:82%;
}

#photo3{
    left:164%;
   }

   #photo4{
    left:246%;
    margin-right: 40vw;
   }

   #photo5{
    margin-left: 6vw;
    left:325%;
    background-color: blanchedalmond;
   }

   #photo6{
    left:404%;
    background-color: blanchedalmond;
   }

   #photodiv::-webkit-scrollbar{
    display:none;
   }


   #circle {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    /* animation: animate .5s linear infinite; */
    pointer-events : none;
    display: initial;
    left: 40%;
    top: 20%;
 }
/* responsive code */

@media (max-width: 500px) {

    .sidenavs{
        display: none;
    }

    #page1 h1{
        font-size: 7vw;
        margin-left: 5vw;
        margin-right: 10vw;
        margin-top: 50vw;

    }

    .images{
        height:60vh;
        width:60vw;
        margin-top: 20vw;
    } 
    
    .images img{
        background-size: cover;
        background-position: center;
    }

#image1{
    margin-left: 10vw;
    margin-top: 10vw;
    transform: rotate(-8deg);
}

#image2{
    margin-left: 22vw;
    margin-top: 20vw;
    transform: rotate(-2deg);
}

#image3{
    margin-left: 34vw;
    margin-top: 30vw;
    transform: rotate(0deg);
}

    #page3{
        margin-top: 160vw;
        margin-bottom: 30vw;
    }
    

    #page3 h3{
        font-size: 7vw;
        margin-left: 6vw;
    }

    #page3 h2{
        font-size: 6vw;
    }

    #page3 h2:nth-child(2){
        margin-top: 8vw;
    }

    #page3 h2:hover{
        font-size: 8vw;
    }

    #page4{
        height:15vh;
        margin-left: 8vw;
    }

    #page4 h1{
        font-size: 8vw;
    }

   #page5 a h4{
        font-size: 7vw;
        margin-bottom: 3vw;
    }

    #page6{
        margin-left: 8vw;
        height: 80vh;
        padding-top:5vw;
    }

    #page7 {
        height: 50vh;
    }

    #photodiv{
        height:50vh;
    }
#photodiv .photos{
    height:50vh;
}

    #page6 h1 {
        margin-top: 12vw;
        text-align: center;
        margin-left: 1vw;
        font-size: 13vw;
        margin-bottom: 15vw;
    }
  
    #header #navbar li a {
        font-size: 6vw;
    }
    
    #photodiv {
        height: 40vh;
    }
    #photodiv .photos {
        height: 40vh;
    }

    #greeting {
        left: 30%;
        position: absolute;
        justify-content: center;
        align-items: center;
        font-size: 7vw;
    }

    #header {
        margin-top: 5vh;
    }



}
